html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#title {
    margin-top: 40px;
    margin-bottom: 0;
}

#value-el {
    font-size: 90px;
    margin-top: 50px;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 350px;
    text-align: center;
    background-image: linear-gradient(
        60deg,
        hsl(240deg 100% 20%) 0%,
        hsl(357deg 91% 59%) 53%,
        hsl(34deg 100% 53%) 67%,
        hsl(55deg 100% 50%) 100%);
    filter: opacity(.85);
    color: #FFEBEE;
    text-shadow: 1px 1px 6px black;
}

#main {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #29007A;
    background: #FFEBEE;
}

input {
    width: 100px;
    padding: 20px 10px 20px 10px;
    border: 1px #FFEBEE solid;
    border-radius: 10px;
    background: transparent;
    text-shadow: 1px 1px 1px black;
    margin-top: 70px;
    color: #FFEBEE;
    font-size: 50px;
    text-align: center;
    -moz-appearance: textfield;
}
        
}